<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="Academy.Listeners"></listener>

</listeners>

 <test name="Validate Home Page">
    <classes>     
      <class name="Academy.ValidateHomePage"/>
      </classes>
      </test>

  <test name="Validate Navigation Bar">
    <classes>     
      <class name="Academy.ValidateNavigationBar"/>
      </classes>
      </test>
  <test  name="Validate title">
    <classes>
      <class name="Academy.ValidateTitle"/>
    </classes>    
  </test> 
</suite> 
